@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

html,
body {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.container-fostrap {
  display: table-cell;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}
.fostrap-logo {
  width: fit-content;
  height: 5rem;
  margin-bottom: 2rem;
}
h1.heading {
  color: #fff;
  font-size: 150%;
  font-weight: 900;
  margin: 0 0 0.5em;
  color: dodgerblue;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em;
  }
}
@media (min-width: 760px) {
  h1.heading {
    font-size: 150%;
    margin-bottom: 2rem Imp !important;
  }
}
@media (min-width: 900px) {
  h1.heading {
    font-size: 150%;
    margin-bottom: 2rem !important;
    margin: 0 0 0.3em;
  }
}
.card {
  display: block;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.25s;
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img-card {
  width: 100%;
  height: 210px;
  display: block;
  overflow: hidden;
  border: 1px solid rgb(241, 60, 172);
}
.img-card img {
  width: 100%;
  height: 210px;
  object-fit: cover;
  transition: all 0.25s ease;
}
.card-content {
  padding: 15px;
  text-align: left;
  border: 2px solid rgb(241, 60, 172);
}
.card-title {
  margin-top: 0px;
  font-weight: 700;
  font-size: 1.65em;
}
.card-title a {
  color: #000;
  text-decoration: none !important;
}
.card-read-more {
  border-top: 1px solid #d4d4d4;
}
.card-read-more a {
  text-decoration: none !important;
  padding: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

.copyright {
  text-align: center;
  border: 1px solid grey;
  color: dodgerblue;
  font-weight: bold;
  margin-bottom: 1rem;
}


#spin {
  color: rgb(241, 60, 172);
}
#spin:after {
  content:"";
  animation: spin 30s linear infinite;
}
@keyframes spin {
  0% { content:"Welcome"; }
  10% { content:"Mwatambulwa"; }
  20% { content:"Takulandilani"; }
  30% { content:"Mwaiseni Mukwayi"; }
  40% { content:"Lwamuhamu Wela"; }
  50% { content: "Mwayiyayi Mwane"; }
  60% { content: "Shikeni Mwane"; }
  70% { content: "Kalibu Mukwayi"; }
  80% { content: "Mwatambulwa"; }
  90% { content: "Shikeni Mwane"; }
  100% { content: "Mwaiseni Mukwayi"; }
}